/* Favorites Icon */
.result-item-actions .pin-button.pinned md-icon {
  transform: none;
}

svg[id^="prm_pin"] {
  background: url("../img/bookmark.png") no-repeat;
  background-size: contain;
}

svg[id^="prm_pin"] path {
  display: none;
}

.pinDummy.animating prm-icon md-icon svg {
  background: url("../img/bookmark.png") no-repeat;
  background-size: contain;
}

.pinDummy.animating prm-icon md-icon svg path {
  display: none;
}

svg[id^="prm_unpin"] {
  background: url("../img/unbookmark.png") no-repeat;
  background-size: contain;
}

svg[id^="prm_unpin"] path {
  display: none;
}
/* ~Favorites Icon */

/* Locations Display */
prm-search-result-availability-line .layout-align-start-start.layout-row {
  display: none;
}

prm-search-result-availability-line-after .layout-align-start-start.layout-row {
  display: flex;
}

  /* don't display useless links in the fullscreen details page */
.full-view-inner-container prm-search-result-availability-line-after .layout-align-start-start.layout-row {
  display: none;
}
/* ~Locations Display */
